.content {
  h1 {
    @apply font-display uppercase font-bold leading-none;

    font-size: min(max(3rem, 6.25vw), 7rem);

    @supports (font-size: clamp(3rem, 6.25vw, 7rem)) {
      font-size: clamp(3rem, 6.25vw, 7rem);
    }
  }

  h2 {
    @apply text-4xl font-bold leading-none mt-12 py-6 tracking-tight;
  }

  h3 {
    @apply text-xl font-bold leading-none py-6;
  }

  h4 {
    @apply font-bold uppercase tracking-widest leading-none py-6;
  }

  >p {
    @apply text-lg leading-relaxed;
    margin-bottom: 2em;
  }

  >img {
    @apply my-12;
  }

  a {
    @apply font-bold underline text-hot-pink;

    &:hover {
      @apply text-black;
    }
  }

  ul:not(.list-none) {
    @apply pl-0 list-disc ml-10 mb-8 text-lg;

    li {
      @apply mb-1;
    }
  }

  pre {
    position: relative;
    margin: 5px 0;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    overflow: auto;
  }

  .copy-wrapper {
    position: relative;

    &:hover>button {
      background-color: #fd2d78;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.1rem 0.2rem;
      border-radius: 0.2rem;
      background-color: #2dfdfd;
      font-size: 0.8rem;
      line-height: 1rem;
      z-index: 1000;
    }
  }

  ol {
    @apply pl-0 list-decimal ml-10 mb-8 text-lg;

    li {
      @apply mb-1;
    }
  }

  table {
    @apply w-full text-left border-2 border-collapse mb-8 text-sm;

    th {
      @apply font-bold p-4 text-xl border-t-4 border-b;
    }

    td {
      @apply p-4 border-b;
    }

    p {
      @apply leading-normal;
    }
  }
}

.content section>*:first-child {
  @apply mt-0 pt-0;
}