#searchBox {
  border-radius: 5px;
}

.searchResultPage {
  padding: 15px 0;
}

.searchResultTitle {
  color: var(--color-contrast) !important;
}

::-moz-selection {
  color: white;
  background: var(--color-contrast);
}

::selection {
  color: white;
  background: var(--color-contrast);
}