.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.aspect-ratio-none {
  padding-bottom: 0;
}

.aspect-ratio-square {
  padding-bottom: 100%;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}

.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}

.aspect-ratio-21\/9 {
  padding-bottom: 42.86%;
}

#searchBox {
  border-radius: 0.3rem;
}

.searchResultPage {
  padding: 1rem 0;
}

.searchResultTitle {
  color: var(--color-contrast) !important;
}

::-moz-selection {
  color: var(--color-bg-primary);
  background: var(--color-contrast);
}

::selection {
  color: var(--color-bg-primary);
  background: var(--color-contrast);
}

.tag-wrapper {
  position: relative;

  &:hover>.tag {
    background-color: var(--color-contrast);
  }

  .tag {
    color: var(--color-text-secondary);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: var(--color-btn-primary);
    font-size: 0.8rem;
    line-height: 1rem;
    z-index: 1000;
  }
}

.card-list .card {
  a {
    text-decoration-line: none;
  }

  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
}