@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-primary: #12151E;
        --color-text-secondary: #ffffff;
        --color-text-tertiary: #12151E;
        --color-bg-primary: #ffffff;
        --color-bg-secondary: #12151E;
        --color-bg-tertiary: #E5E7EB;
        --color-bg-tertiary-hover: #D1D5DB;
        --color-btn-primary: #0891B2;
        --color-border: #12151E;
        --color-contrast: #fd2d78;
    }

    .dark {
        --color-text-primary: #E5E7EB;
        --color-text-secondary: #12151E;
        --color-text-tertiary: #12151E;
        --color-bg-secondary: #E5E7EB;
        --color-bg-primary: #12151E;
        --color-bg-tertiary: #E5E7EB;
        --color-bg-tertiary-hover: #D1D5DB;
        --color-btn-primary: #2dfdfd;
        --color-border: #E5E7EB;
        --color-contrast: #3efd2d;
    }
}