---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
---

<DefaultPageLayout title="Page not found">
  <article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-3xl text-center content">
      <h1 class="mb-4">Oops, I think you're lost</h1>
      <p>Not much to see here. Don't wait for your life to be over. There are other pages. Go find one!</p>
      <div>
        <img alt="Sad cat" src="/public/images/404.jpg" />
      </div>
    </header>
  </article>
</DefaultPageLayout>
