---
import BasePageLayout from "../layouts/BasePageLayout.astro";
---

<BasePageLayout title="Page not found">
  <article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-3xl text-center content">
      <h1 class="mb-4">Oops, I think you're lost</h1>
      <p>Not much to see here. Don't wait for your life to be over. There are other pages. Let's go <i><a href="/">home</a></i></p>
      <div>
        <img alt="Sad cat" src="/images/404.webp" />
      </div>
    </header>
  </article>
</BasePageLayout>
