---
import Header from "../components/Header.astro";
import BasePageLayout from "../layouts/BasePageLayout.astro";
import { SITE_NAME } from "../utils/constants";

const title = SITE_NAME;
const description = "My codes and notes as a software engineer.";
const options = { Notes: "/notes", Shards: "/shards", Projects: "/projects", About: "/about" };
---

<BasePageLayout title={description}>
  <article class="py-12 lg:py-20 max-w-6xl mx-auto my-auto px-3">
    <Header title={title} description={[description]} />
    <section class="flex sm:flex-row flex-col gap-5 justify-center justify-items-center items-center" data-test="articles-section">
      {
        Object.entries(options).map((value) => (
          <a href={value[1]}>
            <button class="font-bold p-3 text-text-secondary bg-btn-primary rounded-xl">{value[0]}</button>
          </a>
        ))
      }
    </section>
  </article>
</BasePageLayout>
