---
import PostLayout from "../layouts/PostLayout.astro";
---

<PostLayout >
    <h1>H1 Teste de título</h1>
    <br />
    <h2>H2 Teste de título</h2>
    <br />
    <h3>H3 Teste de título</h3>
    <br />
    <h4>H4 Teste de título</h4>
    <br />
    <h5>H5 Teste de título</h5>
    <br />
    <p>Parágrafo com alguma conteúdo</p>
    <br />
    <ul>
        <li>Itens de</li>
    </ul>
</PostLayout>
