---
export interface Props {
  pageName?: string;
  path?: string;
}
let { pageName, path } = Astro.props;
---

<section class="flex space-x-8 justify-center text-xl pt-4 pb-12 font-bold">
  <a href={`${path ?? "/"}`} class="ml-8 hover:text-contrast" data-test="see-all-link">
    <span>&larr;</span> Back to {pageName ?? "Home"} page
  </a>
</section>
