---
import type { IPaginator } from "../utils/types";

export interface Props extends IPaginator {}
const { prev, next } = Astro.props;
---

<section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
  {
    prev && (
      <a href={prev} class="mr-8" data-test="paginator-prev">
        <span>&larr;</span> Previous page
      </a>
    )
  }

  {
    next && (
      <a href={next} data-test="paginator-next">
        Next Page <span>&rarr;</span>
      </a>
    )
  }
</section>
