---
import { getCollection, render } from "astro:content";
import BackToPage from "../../components/BackToPage.astro";
import CardList from "../../components/CardList.astro";
import PostLayout from "../../layouts/PostLayout.astro";
import type { IEntry } from "../../utils/types";

type PostEntry = IEntry<"voting">;

const votingEntries = await getCollection("voting");
const entriesByType: any = {};
votingEntries.forEach((v: PostEntry) => {
    const type = v.id.split("/")?.[0] ?? "none";
    if (!entriesByType[type]) entriesByType[type] = [];
    entriesByType[type].push(v);
});

const indexEntry = entriesByType["index"][0];
const { Content } = await render(indexEntry);

const specs = entriesByType["specs"];
const tools = entriesByType["tools"];
---

<PostLayout post={indexEntry}>
    <Content />
    <h2>Project Specs</h2>
    {
        (
            <CardList
                cards={specs.map((x: PostEntry) => {
                    return {
                        title: x.data.title,
                        url: `/projects/voting/${x.id}`,
                    };
                })}
            />
        )
    }
    <h2>Project Tools</h2>
    {
        (
            <CardList
                cards={tools.map((x: PostEntry) => {
                    return {
                        title: x.data.title,
                        url: `/projects/voting/${x.id}`,
                    };
                })}
            />
        )
    }
</PostLayout>
<BackToPage pageName={"Projects"} path={`/projects`} />
